Source: kse
Section: utils
Priority: optional
Maintainer: Kai Kramer <kaikramer@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://keystore-explorer.org
Vcs-Browser: https://github.com/kaikramer/keystore-explorer
Vcs-Git: https://github.com/kaikramer/keystore-explorer.git
Rules-Requires-Root: no

Package: kse
Architecture: all
Depends: ${misc:Depends},
         default-jre (>= 2:1.17) | java25-runtime | java21-runtime | java17-runtime,
         desktop-file-utils,
         hicolor-icon-theme
Description: Multipurpose keystore and certificate tool
 KeyStore Explorer is a user friendly GUI application for creating,
 managing and examining keystores, keys, certificates, certificate requests,
 certificate revocation lists and more.
